body{
    margin: 0;
}

a {
    text-decoration: none;
}

.header__content {
    background-image: url("simon-migaj-Yui5vfKHuzs-unsplash.jpg");
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

.header__content h1{
    font-family: Aleo;
    color: honeydew;
    font-size: 36px;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin: 200 auto;  
}

.header__content p{
    font-family: Aleo;
    font-weight: 300;
    font-size: 20px;
    color: honeydew;
    padding-left: 15px; 
}


.header__nav {
    opacity: 0.5;
    height: 50px;
    width: 100%;
    padding: 0 auto;
    margin:0 auto;
    background-color: #393e46;
    color:honeydew;
}

.header__logo {
    font-size: 26px;
    float: left;
    padding: 10px 20px;
    color: #fff;
}

.header__list a{
    float: right;
    padding: 15px 40px;
    color: #fff;
    display: block;
    transition: all 0.5s;
}

.header__list a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
.hero__content {
    font-family: Aleo;
    color: honeydew;
    font-size: 16px;
    width: 100%;
    padding: 250px 15px;
    margin: 0 auto;  
}